
<div class="container">

  <div class="row">
    <div class="col-xs-12">

      <div class="title">
        <h1> THE LONGEST WORD GAME </h1>
      </div>

      <hr>

      <h3>Your letters:</h3>

      <table style="width:100%">
        <% @grid.each do |letter| %>
          <tr><td><%= letter %></td></tr>
        <% end %>
      </table>

      <h3>What's your best shot?</h3>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <form action="/score" method="post">
        <input type="text" name="attempt" class="form-control" placeholder="Your attempt">
        <input type="hidden" name="grid" value=<%= @grid.join %>>
        <input type="hidden" name="time" value=<%= @start %>>
        <input type="submit" class="btn btn-primary" value="Score">
      </form>
    </div>

  </div>
  <br>
</div>


